.container {
  display: flex;
  margin: 0 auto;
  color: var(--text-color);
  padding: 20px;
  gap: 30px;
}

.main-left,
.main-right {
  margin: auto 0;
}

.main-right .example-img {
  height: 500px;
}

.button {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 100px;
  background-color: #ffffff;
  height: 50px;
  width: 150px;
}

.button:hover {
  background-color: var(--text-color);
  cursor: pointer;
  background-color: var(--button-color);
}

.button:hover a{
  color : var(--text-color);
}

.button-register a {
    text-decoration: none;
    color: var(--background-color);
}

.sub-tittle {
  display: flex;
  margin: 0 auto;
  font-family: Poppins, sans-serif;
  font-size: 2em;
  font-weight: 500;
}

.p-text {
  font-family: Poppins, sans-serif;
  font-size: 1em;
  margin: 0 auto;
}