.site-footer {
  display: flex;
  height: 60px;
  width: 100%;
  justify-content: flex-end;
}

.site-footer ul li {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--text-color, #333);
  border-radius: 50%;
}

.social {
  display: flex;
  gap: 10px;
  padding: 10px;
  color: var(--text-color);
}

.social li a i {
  font-size: 1.5em;
  color: var(--text-color);
}
 
