.site-footer {
  display: flex;
  height: 60px;
  width: 100%;
  justify-content: flex-end;
}

.site-footer ul a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--text-color);
  border-radius: 50%;
}

.social {
  display: flex;
  gap: 10px;
  padding: 10px;
  color: var(--text-color);
}

.social li a i {
  color: var(--text-color);
}

.social li a:hover {
  border-color: var(--button-color)
}

.social li a:hover i {
  color: var(--button-color)
}