.logo {
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: space-between;
}

.logo-img {
  width: 150px;
  padding: 20px;
}

#language-select {
  background-color: transparent;
  color: var(--text-color);
}

options {
  background-color: transparent;
  color: var(--text-color);
}